.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  padding: 1px 20px;
}

.logo img {
  width: 50px;
  border-radius: 8px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

/* 3D Button Style */
.nav-links button {
  padding: 8px 16px;
  border: none;
  background: #ebcd25;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 5px #cad275; /* shadow for 3D effect */
  transition: all 0.2s;
}

.nav-links button:active {
  transform: translateY(4px); /* button moves down when clicked */
  box-shadow: 0 1px #c8b32f;  /* shadow becomes smaller for pressed effect */
}

.nav-links button:hover {
  background: #d8bf1d;
}
.logo{
  width: 30px;
  height: 30px;
}